// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "arial";
}

.btn {
  background-color: #337ab7;
  padding: 11px 20px 15px;
  border-radius: 1px 5px 5px 1px;
  font-family: "arial";
  color: white;
  font-size: 20px;
  margin-left: -5px;
}

.input {
  padding: 17px;
  padding-right: 200px;
}

.container {
  margin: 50px;
}

a {
  text-decoration: none;
}

.teacher {
  margin: 30px 0px;
  background-color: #FEFFE1;
  padding: 1px 20px;
  border-left: 5px solid #DDDDDD;
}

.student {
  margin-bottom: 30px;
  padding: 1px 20px;
  border-left: 5px solid #DDDDDD;
}













